*{ 
    margin: 0%; /*Elimina todo margen que trae por defecto*/
    padding: 0%; /*Elimina todo relleno que trae por defecto*/

}
 .medida_foto{
    
    width: 250px;
    height: 400px;  
    border-radius: 5%  ;
    margin-top: 2vw;
    box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw rgba(38, 41, 43, 0.8);

}   


.l1{
    display:flex;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    

}


.l1 > a{

    transition: transform 0.4s ease-in-out;
}

.l1 > a:hover{
    transform: scale(1.25) translateX(1.5vw);
    
} 


main{
    background-color: #b5e2fa86;
}

