*{
	margin: 0%;
	/*Elimina todo margen que trae por defecto*/
	padding: 0%;
	/*Elimina todo relleno que trae por defecto*/
	
}

/* Hero */
.contenedor {
	display: flex;
	max-width: 100%;
	height: 50vh;
	background-image: url(../img/messi\ espalda.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.contenedor .wrap {
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.contenedor .wrap .box {
	flex-basis: 50%;
	color: #fff;
	text-align: left;
	align-self: flex-start;
}

.contenedor .wrap .box span {
	font-size: 2vw;
	letter-spacing: 2px;
	font-weight: 300;
	padding-bottom: 100px;

}

.contenedor .wrap .box h1 {
	font-size: 100px;
	line-height: .2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 0px;
	margin: 30px 0 30px;
	position: absolute;
	bottom: 100px;
	color: rgb(255, 255, 255)
}

.contenedor .wrap .box .title1 {
	font-size: 3.5vw;
	line-height: 1;
	position: absolute;
	font-weight: 700;
}
/* iFrame de Spotify */
.spotify{
    display: flex;
	flex-wrap: wrap;
	gap: 5vw;
    justify-content: center;
}

#spoti{
	width: 30vw;
    height: 8vw;
    box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw rgba(38, 41, 43, 0.8);
	
}

#intro_spotify{
	display: flex;
	justify-content: center;
	margin-top: 2vh;
}

/* Estilos de fuentes para el contenido del main */
h2{
	font-family: 'Kalam';
	font-weight: 400;
	font-size: 2vw;
	margin-top: 5vw;
	text-align: center;
}

.name_bold{
	font-family: 'Kalam';
	font-weight: 700;
	font-size: 2.5vw;
}

p{
	font-family: 'Kalam';
	font-weight: 400;
	font-size: 1.5vw;
	text-align: center;
}

.mas_jugadas{	
	text-align: center;
	margin-top: 2vw;
	margin-bottom: 5vw;
}

.ver_mas{
	font-family: 'Kalam';
	font-weight: 400;
	font-size: 1.5vw;
}

/* Estilos Intro */
.topmain {
	display: flex;
	gap: 5vw;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/* iFrame de YouTube */
.iframe_yt{
    display: flex;
	flex-wrap: wrap;
	gap: 5vw;
    justify-content: center;
	background-color: #fff;
}

#intro_yt{
	display: flex;
	margin-top: 5vw;
	justify-content: center;
	background-color: #fff;
}

/* iFrame Short de YouTube */
.iframe_short{
    display: flex;
	flex-wrap: wrap;
	gap: 5vw;
    justify-content: center;
}

#intro_short {
	display: flex;
	margin-top: 5vw;
	justify-content: center;
}

.sumate{
	font-family: 'Kalam';
	font-weight: 700;
	font-size: 2vw;
}

/*se puso un fondo al main*/
main {
	display: flex;
	justify-content: center;
	background-color: rgba(100, 179, 210, 0.7);

}