* {
	margin: 0%;
	/*Elimina todo margen que trae por defecto*/
	padding: 0%;
	/*Elimina todo relleno que trae por defecto*/

}

/* Hero */
.contenedor {
	display: flex;
	max-width: 100%;
	height: 50vh;
	background-image: url(../img/messi\ espalda.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.contenedor .wrap {
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.contenedor .wrap .box {
	flex-basis: 50%;
	color: #fff;
	text-align: left;
	align-self: flex-start;
}

.contenedor .wrap .box span {
	font-size: 2vw;
	letter-spacing: 2px;
	font-weight: 300;
	padding-bottom: 100px;

}

.contenedor .wrap .box h1 {
	font-size: 100px;
	line-height: .2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 0px;
	margin: 30px 0 30px;
	position: absolute;
	bottom: 100px;
	color: rgba(255, 255, 255, 0.7)
}

.contenedor .wrap .box .title1 {
	font-size: 3.5vw;
	line-height: 1;
	/* text-align: left; */
	position: absolute;
	font-weight: 700;
}

.topmain {
	display: inline-table;
	align-content: center;
}

h2 {
	margin-top: 2vw;
}

#intro_short {
	margin-top: 2vw;
}

/*se puso un fondo al main*/
main {
	display: flex;
	justify-content: center;
	background-color: #b5e2fa86;

}