<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/messi_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/galeria.css">
    <title>Galeria</title>
</head>
<body>
    <header>
        <div class="topnav">
            <img class="logo" src="../img/messi_logo.png" alt="">
        </div>
        <nav class="topnav">
            <a class="menu" href="../index.html">Inicio</a>
            <a class="menu" href="#">Galeria</a>
            <a class="menu" href="trayectoria.html">Trayectoria</a>
            <a class="menu" href="trofeos.html">Trofeos</a>
            <a class="menu" href="suscripcion.html">Suscribete</a>
            
            
        </nav>
    </header>
    <main>
        <section>
            <div class="l1">
                
                
                <a href="https://i.pinimg.com/originals/6a/5f/f9/6a5ff97a8bcc3129b44048777491481d.jpg" target="_blank"><img class="medida_foto" src="https://i.pinimg.com/originals/6a/5f/f9/6a5ff97a8bcc3129b44048777491481d.jpg" alt="foto messi"></a>

                            
                <a href="https://i.pinimg.com/originals/68/87/7d/68877d0102c91b9a922886d5e5469613.jpg" target="_blank"><img class="medida_foto" src="https://i.pinimg.com/originals/68/87/7d/68877d0102c91b9a922886d5e5469613.jpg" alt="foto messi"> </a>  
            
                <a href="https://i.pinimg.com/originals/63/10/c9/6310c9db4ddeb41789ff074136a06027.jpg" target="_blank"><img class="medida_foto" src="https://i.pinimg.com/originals/63/10/c9/6310c9db4ddeb41789ff074136a06027.jpg" alt="foto messi"> </a>
            
                <a href="https://i.pinimg.com/originals/0a/ae/40/0aae409eb5d25ac6a96161092ec028f3.jpg" target="_blank"><img class="medida_foto" src="https://i.pinimg.com/originals/0a/ae/40/0aae409eb5d25ac6a96161092ec028f3.jpg" alt="foto messi"> </a>
            </div>
            <div class="l2">
                <img src="https://i.pinimg.com/originals/4b/9c/c0/4b9cc03892a4451d47f318f361e80b7d.jpg" alt="">
                <img src="https://i.pinimg.com/originals/34/29/3a/34293a80b88a1c1402e8248e68c69240.jpg" alt="">
                <img src="https://i.pinimg.com/originals/59/44/e1/5944e1ade086a2b608641bd1a5aa3e33.jpg" alt="">
                <img src="https://i.pinimg.com/originals/53/be/49/53be49dc886de2fc095da10dc50b5c69.jpg" alt="">
            </div>

        </section>
        
    </main>
           
</body>
</html>