<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="trayectoria.html">Trayectoria</a>
            <a href="reconocimientos.html">Reconocimientos</a>
            <a href="trofeos.html">Trofeos</a>
            <a href="galeria.html">Galeria</a>
            <a href="noticias.html">Noticias</a>
        </nav>
    </header>
           
</body>
</html>