<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/trayectoria.css">
    <title>Trayectoria</title>
</head>
<body>
    <header class="topheader">
        <div class="topnav">
            <img class="logo" src="../img/messi_logo.png" alt="">
        </div>
        <!-- Menú de navegación -->
        <nav class="topnav">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="trayectoria.html">Trayectoria</a>
            <a href="trofeos.html">Trofeos</a>
            <a href="suscripcion.html">Suscribete</a>
        </nav>
    </header>
           
</body>
</html>