<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/messi_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/trayectoria.css">
    <title>Trayectoria</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef289831a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="topheader">
        <div class="topnav">
            <a href="../index.html"><img class="logo" src="../img/messi_logo.png" alt="Inicio"></a>
        </div>
        <!-- Menú de navegación -->
        <nav class="topnav" id="navv">
            <a class="menu" href="../index.html">Inicio</a>
            <a class="menu" href="galeria.html">Galeria</a>
            <a class="menu" href="#">Trayectoria</a>
            <a class="menu" href="trofeos.html">Trofeos</a>
            <a class="menu" href="suscripcion.html">Suscribete</a>
        </nav>
    </header>
    <main>
        <section class="barcelona">
            <article><img src="img/primeros.jpg" alt="">
                <p>Comenzó la pretemporada 2004-2005 jugando amistosos con el primer equipo: ante el Banyoles, el
                    Figueres, el Palamós, el Hércules y el Olympique de Marsella, donde fue titular por primera vez. En
                    un partido de La Liga contra el Albacete Balompié el 1 de mayo de 2005, tras asistencia de
                    Ronaldinho, Messi anotó, de vaselina, su primer gol oficial, después de que le anularan otro
                    parecido por estar en offside.</p>
            </article>
            <article><img src="img/consagracion2.jpg" alt="">
                <p> Tras la marcha de Ronaldinho, Messi recibió la camiseta con el número 10. En junio de 2008,
                    firmó su cuarto contrato por un salario de entre 10 y 14 millones de euros que lo convirtió en el
                    mejor pagado del club. Tras la salida de Iniesta en mayo 2018, fue nombrado capitán del equipo para
                    la siguiente temporada. El 30 de abril, le fue concedida la Cruz de Sant Jordi, otorgada por la
                    Generalidad de Cataluña, en reconocimiento a"su fabulosa trayectoria deportiva, que lo ha llevado a
                    ser reconocido como el mejor futbolista de todos los tiempos". Es el tercer deportista en alcanzar
                    esta distinción, tras Gemma Mengual y Johan Cruyff.</p>
            </article>
            <article><img src="img/fin_barca.jpg" alt="">
                <p>Cuando el 30 de junio del 2021 venció su contrato, Messi pasó a ser agente libre, pero las
                    negociaciones para
                    continuar en el Barcelona estaban encaminadas. El 14 de julio, y aunque aún faltaban ajustar
                    algunos detalles del contrato, trascendió que firmaría por cinco años más y se rebajaría el sueldo a
                    la mitad. El 7 de agosto, sin embargo, y a pesar de que La Liga había aprobado el nuevo
                    contrato, Laporta le comunicó a Jorge Messi que, por cuestiones de presupuesto, no podía renovar al
                    jugador. El 5 de agosto de 2021, el Barcelona anunció que no podía mantener a Messi, pues
                    hacerlo implicaba sobrepasar el tope de gastos previstos por La Liga. Messi dejó el club con treinta
                    y cinco títulos ganados (entre ellos diez Ligas y cuatro Ligas de Campeones). En la conferencia
                    de despedida en el Auditori 1899 del Camp Nou, afirmó: "No sé si lo hizo el club, pero yo tengo
                    claro que hice todo lo posible para quedarme. Estaba todo arreglado. Me bajé el sueldo un 50 %. El
                    resto es mentira. Y, después, nadie me pidió nada más".</p>
            </article>
        </section>
        <section class="paris">
            <article><img src="img/paris.jpg" alt="">
                <p>El 10 de agosto 2021, Messi firmó con Paris Saint-Germain un contrato por dos años, con opción de
                    extenderlo una temporada. Se le fijó el salario en 6,5 millones de euros y se le dio el dorsal 30,
                    el mismo con el que debutó en el Barcelona.</p>
            </article>
        </section>
        <section class="miami">
            <article><img src="img/miami.jpg" alt="">
                <p>Luego de que se hablara sobre una posible vuelta a Barcelona y de un fichaje con Al-Hilal, el 7 de
                    junio Messi anunció en una entrevista con Mundo Deportivo que firmaría contrato con el Inter
                    Miami.​ Una hora después, el club duplicó su cantidad de seguidores en Instagram y el precio de
                    las entradas para el posible primer partido aumentó 500 %.</p>
            </article>
        </section>
        <section class="seleccion">
            <article><img src="img/selecion.jpg" alt="">
                <p>El 29 de junio de 2004, casi desconocido en Argentina, debutó en el estadio Diego Armando Maradona de
                    Buenos Aires con la categoría sub-20, en un partido amistoso con una sub-22 de Paraguay armada para
                    la ocasión que arbitró Gabriel Brazenas. El 18 de diciembre del 2022, en la final contra Francia en
                    el
                    estadio Lusail, marcó de penal el primer gol y, en los tiempos extras, aprovechó el rebote de un
                    intento de Lautaro Martínez que Hugo Lloris había rechazado para desempatar el 2-2. Como Mbappé
                    anotó el tercero para su equipo, el partido se definió por penales. Messi convirtió el suyo para un
                    4-2 a favor de Argentina, que ganó el título después de treinta y seis años. Al igual que contra
                    México, Australia, Croacia y Países Bajos,​ fue elegido MVP y recibió el Balón de Oro,
                    por lo que pasó a ser el primer jugador reconocido como MVP en once oportunidades y en dos como el
                    mejor del torneo.</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="redes_sociales">
            <a href="https://www.instagram.com/leomessi/" class="icon_redes" target="_blank" title="Instagram/Messi"><i
                    class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/leomessi/" class="icon_redes" target="_blank" title="facebook/Messi"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.youtube.com/user/LeoMessi" class="icon_redes" target="_blank" title="youtube/Messi"><i
                    class="fa-brands fa-square-youtube"></i></a>
        </div>
        <a href="#navv" class="logo_div_foot">
            <img class="logo_footer" src="../img/messi_logo.png" alt="logo" title="click para subir">
        </a>
        <div>
            <span class="copyright">&copy; Copyright 2023, Grupo 15 CaC - Codo a Codo. No rights reserved. </span>
        </div>
    </footer>
</body>


</html>