<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Trofeos</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/ef289831a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="topnav">
            <img class="logo" src="../img/messi_logo.png" alt="">
        </div>
        <nav class="topnav" id="navv">
            <a class="menu" href="../index.html">Inicio</a>
            <a class="menu" href="galeria.html">Galeria</a>
            <a class="menu" href="trayectoria.html">Trayectoria</a>
            <a class="menu" href="#">Trofeos</a>
            <a class="menu" href="suscripcion.html">Suscribete</a>

        </nav>
    </header>
    <footer>
        <div class="redes_sociales">
            <a href="https://www.instagram.com/leomessi/" class="icon_redes" target="_blank" title="Instagram/Messi"><i
                    class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/leomessi/" class="icon_redes" target="_blank" title="facebook/Messi"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.youtube.com/user/LeoMessi" class="icon_redes" target="_blank" title="youtube/Messi"><i
                    class="fa-brands fa-square-youtube"></i></a>
        </div>
        <a href="#navv" class="logo_div_foot">
            <img class="logo_footer" src="../img/messi_logo.png" alt="logo" title="click para subir">
        </a>
        <div>
            <span class="copyright">&copy; Copyright 2023, Grupo 15 CaC - Codo a Codo. No rights reserved. </span>
        </div>
    </footer>

</body>

</html>